<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cse110winter2015group3.mafia">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".StartGameActivity"
            android:label="@string/title_activity_start_game"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".JoinGameActivity" />
        <activity
            android:name=".GameHomePage"
            android:label="@string/title_activity_game_home_page"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ChatApp" />
        <activity android:name=".EnterGame" />
        <activity android:name=".NightPhase" />
        <activity android:name=".DayPhase" />
        <activity android:name=".AssignRoles" />
        <activity android:name=".MafiaChatApp" />
        <activity android:name=".GameStory" />
        <activity android:name=".RevealRoles" />
        <activity android:name=".CopChatApp" />
        <activity android:name=".CivilianChatApp" />
        <activity android:name=".DoctorChatApp" />
        <activity android:name=".Results" />
        <activity android:name=".CivilianNightPhase" />
        <activity android:name=".CopNightPhase" />
        <activity android:name=".DoctorNightPhase" />
        <activity android:name=".MafiaNightPhase" />
        <activity android:name=".ModeratorNightPhase"></activity>
    </application>

</manifest>
